header(style='position:fixed;height:40px;background-color:#151719;z-index:2;overflow:hidden;width:100%;')
  #sidebar(style='font-family: Times New Roman (serif);')
    .toggle-btn
      span
      span
      span  
    ul
      li #{user.name}
      li
        a(href="/" style="text-decoration:none;color:white") Notify Me
      li 
        a(href=`/currentStatus/${user._id}` style="text-decoration:none;color:white") Current Status 
      li
        a(href="/resetPassword" style="text-decoration:none;color:white") Reset Password

  h1(style="position:absolute;top:5px;left:545px;font-family: 'Pattaya', sans-serif;color:#66ff33;font-size:170%") Shopping Buddy
  img(src='./img/profile.png' style='position:absolute;right:2px;' type='button' data-bs-toggle="tooltip" data-bs-placement="bottom" title=`Signed in as ${user.email}`)
  h1(type='button' style='position:absolute;right:70px;top:5px;font-family: Times New Roman (serif);color:#CDDF22;font-size:110%;' class="log-out-btn") Sign Out
