header(style="height:40px;background-color:black;")
  a(style="position:absolute;top:5px;font-family: Times New Roman (serif);color:#FA292A;font-size:110%;text-decoration:none;" href="/signup") Sign Up
  h1(style="position:absolute;top:5px;left:545px;font-family: 'Pattaya', sans-serif;color:#66ff33;font-size:170%") Shopping Buddy
  a(style="position:absolute;right:5px;top:5px;font-family: Times New Roman (serif);color:#CDDF22;font-size:110%;text-decoration:none;" href="/login") Log In






