.container-fluid.banner
  .overlay
    .row
      .col-md-12
        nav.navbar
          .navbar-brand(style='color:#fff')
            | Shopping Buddy
          ul.nav
            li.nav-item
              a.nav-link(href='/signup') Sign Up
            li.nav-item
              a.nav-link(href='/login') Log In
      .col-md-6.offset-md-3.info
        p.text-center
          | Sign up now to get emails and current status of the price of your chosen products from Flipkart and Snapdeal
