nav.navbar(style="background-color:#333;")
  .brand-title
    | Shopping Buddy
  a.toggle-button(href='#')
    span.bar
    span.bar
    span.bar
  .navbar-links
    ul
      li
        a(href='/') Notify Me
      li
        a(href=`/currentStatus/${user._id}`) Current Status
      li
        a(href='/resetPassword') Reset Password
      li
        a(href='#' type='button' data-bs-toggle="tooltip" data-bs-placement="bottom" title=`Signed in as ${user.email}`) #{user.name}
      li
        a(class="log-out-btn") Logout
.form-container
  form.form-wrap( style='position:relative;margin-top:-4%').notify-me-btn
    h2.ForgotPassword(style='text-align:left;margin:0px 0px 20px;font-size:20px;') Notify Me
    .form-box(style='height:6%')
      input(type='text' placeholder='Enter the url' required='' id="url" )
    .form-box
      input(type='text' placeholder='Enter the duration(in days)' required='' id="duration")
    .form-submit
      input(type='submit' value='Add')
