.modal3
h1(style='position:fixed;top:20px;left:420px;font-size:25px;z-index:10;') Notify Me
form(autocomplete='off')
  .form-group
    input#url.form-control(autocomplete='off' type='text' placeholder='Enter the url' style='position:fixed;left:440px;top:50px;width:400px;height:40px;font-size:15px;z-index:10')
  .form-group
    input#duration.form-control(autocomplete='off' placeholder='Enter the duration (in days)' style='position:fixed;left:440px;top:70px;width:400px;height:40px;font-size:15px;z-index:10')
  button.notify-me-btn(style='position:fixed;top:90px;width:100px;height:34px;font-size:15px;left:640px;z-index:10' class="btn btn-primary")  Submit


