doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='x-ua-compatible' content='ie-edge')
  link(rel='stylesheet' href='./css/style.css')
  link(rel='shortcut icon' type='image/png' href='./img/pikachu.png')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Pattaya&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Anton&family=Bree+Serif&family=Lobster&family=Yanone+Kaffeesatz:wght@400;500&display=swap' rel='stylesheet')
  // Bootstrap CSS
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x' crossorigin='anonymous')
  if user 

    include _header_user

    include _user_home

    //-script(src="/js/toggle.js")
    //-script(src="/js/logout.js")
    //-script(src="/js/addNotifications.js")
    //-script(type="module" src="/js/notifyController.js")
    script(src="/js/bundle.js")
  else

    body(style="background-color:white")
      header(style='height:40px;background-color:black;')
        h1(style="position:absolute;top:5px;left:545px;font-family: 'Pattaya', sans-serif;color:#66ff33;font-size:170%") Shopping Buddy
      .forgot-password-form
        h1(style='position:absolute;top:15px;left:120px;font-size:25px;') Reset Password
        p(style="position:absolute;top:55px;left:20px;font-size:18px;") A password reset link will be sent to the following email id
        form(autocomplete='off' id="send-forgot-reset-link")
          .form-group
            input#forgot-email.form-control(autocomplete='off' type="email" name='forgot-email' placeholder='Email' style='position:relative;left:-80px;top:30px;width:400px;height:40px;font-size:15px;')
            input#send-reset-link(autocomplete='off' type="submit" class="btn btn-info" name='send-reset-link' style='position:relative;left:-30px;top:55px;width:300px;height:34px;font-size:15px;' value='Send Password Reset Link')            
        
          
          //-script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js")
          //-script(src="/js/signup.js")
          //-script(type="module" src="/js/notifyController.js")
          script(src="/js/bundle.js")
