doctype html
html 
  head 
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='x-ua-compatible' content='ie-edge')
    link(rel='stylesheet' href='/css/style2.css')
    link(rel='shortcut icon' type='image/png' href='/img/pikachu.png')
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Pattaya&display=swap')
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap')
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Anton&family=Bree+Serif&family=Lobster&family=Yanone+Kaffeesatz:wght@400;500&display=swap')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css' integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous")
    title Shopping Buddy
  body 
    if user

      body(style="background-color:#ccc")

        .form-container
          form.form-wrap(id="Reset-Btn")
            h2.resetForgottenPassword Reset Password
            .form-box
              input(type='password' placeholder='Enter your current password' required='' id="currentPassword")
            .form-box
              input(type='password' placeholder='Enter your new password' required='' id="newPassword")
            .form-box
              input(type='password' placeholder='Confirm your new password' required='' id="confirmNewPassword")
            .form-submit
              input(type='submit' value='Submit')


        script(src="/js/bundle.js")
       
    else

      include _header

      include _projectinfo

      //-script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js")
      //-script( type="module" src="/js/notifyController.js")
      script(src="/js/bundle.js")



