doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='x-ua-compatible' content='ie-edge')
  link(rel='stylesheet' href='./css/style2.css')
  link(rel='shortcut icon' type='image/png' href='./img/pikachu.png')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Pattaya&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Anton&family=Bree+Serif&family=Lobster&family=Yanone+Kaffeesatz:wght@400;500&display=swap' rel='stylesheet')
  // Bootstrap CSS
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x' crossorigin='anonymous')
  if user 

    include _header_user

    include _user_home

    //-script(src="/js/toggle.js")
    //-script(src="/js/logout.js")
    //-script(src="/js/addNotifications.js")
    //-script(type="module" src="/js/notifyController.js")
    script(src="/js/bundle.js")
  else

    body(style="margin:0;padding:0;background-color:#fff")
      .container
        .row
          .col-md-4.offset-md-4.form-div
            form#form-register
              h1.text-center REGISTER
              .form-group
                label(for='username')
                  | Username
                input.form-control.form-control-lg(type='text' name='username' placeholder='Enter the username' required='' id="sign-up-name")
              .form-group
                label(for='email')
                  | Email
                input.form-control.form-control-lg(type='email' name='email' placeholder='Enter the email' required='' id="sign-up-email")
              .form-group
                label(for='password')
                  | Password
                input.form-control.form-control-lg(type='password' name='password' placeholder='Enter the password' required='' id="sign-up-password")
              .form-group
                label(for='confirmpass')
                  | Confirm Password
                input.form-control.form-control-lg(type='password' name='confirmpass' placeholder='Confirm the password' required='' id="confirm-your-password")
              .form-group
                input.btn.btn-primary.btn-block(type='submit' name='submit' form='form-register' value='Create your account' style='margin:auto;width:100%;margin-top:2%;margin-bottom:2%;')

          
          //-script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js")
          //-script(src="/js/signup.js")
          //-script(type="module" src="/js/notifyController.js")
          script(src="/js/bundle.js")
